.text-header {
    text-align: center;
    color: blue;
    font-size: 38px;
}

.div-value-search {
    text-align: center;
    margin-right: -130px;
}

.input-value {
    border-radius: 10px;
    max-width: 300px;
    right: auto;
    margin-right: 145px;
    width: 300px;
    background: aliceblue;
    height: 37px;
}

.button-search {
    margin: 11px 54px 13px 558px;
    text-align: center;
    padding: 9px 43px 7px 37px;
    background: cornflowerblue;
    border-radius: 10px;
}